[2022-08-16 15:50] emma58 opened #2491 "Appsi fbbt doesn't know about AutoLinkedBinaryVars"
## Summary

There's a `KeyError` when using the appsi implementation of fbbt on transformed GDP models.

### Steps to reproduce the issue

[code]

### Error Message

[code]

### Information on your system

Pyomo version: main
Python version: 3.8
Operating system: linux
How Pyomo was installed (PyPI, conda, source): source
Solver (if applicable):

[2022-08-17 05:15] #1890 closed

[2022-08-17 14:00] andrewlee94 opened #2494 "Bug when using set_value with pint Quantity"
## Summary

When trying to assign a value to a Pyomo `Var` using `set_value` with a pint `Quantity` as the argument, the following error is returned: `pyomo.core.base.units_container.UnitsError: Cannot convert None to m. Units are not compatible.` (see below for example and full stack trace).

### Steps to reproduce the issue
[code]

### Error Message

WARNING: Dynamically registering the followin

[2022-08-19 21:10] lbianchi-lbl opened #2500 "Setting CONFIG attributes for gdpopt results in ValueError: Key '...' not defined in ConfigDict '' and Dict disallows implicit entries"
## Summary

After updating (indirectly, through IDAES) Pyomo to 6.4.2 in gmlc-dispatches/dispatches#136, this code snippet results in an error:

[code]

[code]

I've managed to strip down the issue to `from pyomo.environ import SolverFactory as F; F('gdpopt').CONFIG.strategy = 'RIC'`, and using that for `git bisect` between 6.4.1 and 6.4.2 of Pyomo/pyomo:main, I got the following:

[code]

Looking

[2022-08-20 22:37] makansij opened #2501 "Nominal value affects robust feasibility even when `solve_master_globally=True`?"
## Summary

Below I’ve shown a very simple problem for which PyROS is still unable to find a robust feasible solution when I use IPOPT as the local and global solver.  However, if the nominal value is changed, then PyROS is able to find a robust feasible solution.

Notice that `z=0` is feasible for any realization of the uncertain parameters.  This might explain my difficulty in getting PyROS to r

[2022-08-20 22:41] makansij commented on #2470
@shermanjasonaf  I constructed a minimal example, a scalar robust optimization problem, to illustrate what I think is happening on a larger scale.  Instead of extending this thread, I started a new one here: https://github.com/Pyomo/pyomo/issues/2501

[2022-08-20 22:41] #2470 closed

[2022-08-22 01:04] Robbybp opened #2503 "Desired utilities for hierarchical timer"
## Summary

I would like the ability to do two things with hierarchical timers:
- Flatten the timer
- Remove nodes from the timer

### Motivation

I am benchmarking the ExternalPyomoModel implicit function interface and collect hierarchical timing statistics that look like this:
![20220821_htimer-fsolve](https://user-images.githubusercontent.com/8885032/185819012-e1424ea2-a8b6-411d-9530-e70c91cd47

[2022-08-22 02:52] shermanjasonaf commented on #2501
Your deterministic model (and therefore the initial master problem) is unbounded when `d` is 0 and `q` is nonzero, since there are no explicit variable bounds for `z` and your objective expression is `z * q`. PyROS doesn't properly account for the exception raised by your subsolver in this case.

The nominal uncertain parameter realization should not affect the robust feasibility of your model, bu

[2022-08-22 13:34] jsiirola commented on #2500
This is a known change.  In the GDPopt refactor, "GDPopt" was broken apart into separate classes to simplify the code and make reuse and extension easier.  Unfortunately, there wasn't a way to preserve this specific use case.  @emma58 warned @esrawli this would be changing.

The "quick" fix is:
[code]

[2022-08-22 14:05] Robbybp commented on #2503
Another utility that would be useful would be the ability to start/stop a timer with a context manager, e.g.
[code]

[2022-08-22 14:14] jsiirola commented on #2008
Note that #2504 proposes a simple fix (so that cloning works).  However, it takes the "least surprising route for someone who knows Pyomo" and just returns the expected `_BlockData`.  Users who want to attach hat block to a model would need to define a new `Block` (scalar or indexed) and transfer the attributes.  For example:
This resolves #2008 and allows individual `_BlockData` to be `cloned()`.

[2022-08-22 21:33] lbianchi-lbl commented on #2500
@emma58 @jsiirola thanks for the clarification. The suggested change (using `gdpopt.ric`) resolves the specific exception mentioned in this issue, so I think this can be closed. I'm not sure what's the policy and/or convention for changes in contributed code, but maybe it might be worth adding a mention of this to the [6.4.2 release notes](https://github.com/Pyomo/pyomo/releases/tag/6.4.2)?

[2022-08-22 21:33] #2500 closed

[2022-08-23 13:39] #2008 closed

[2022-08-23 15:32] michaelbynum commented on #2503
I think a flattening utility makes a lot of sense. There are several utilities already in place that should make it fairly easy (I have done something similar before):

[code]

results in

[code]

I'm not sure if it makes more sense to drop nodes out of the timer or to simply skip certain nodes when flattening.

I definitely think a context manager would be useful.

[2022-08-23 15:33] michaelbynum commented on #2503
We also need to fix the indentation. I think the indentation should be fixed to 4 spaces.

[2022-08-23 16:30] jsiirola commented on #2503
FWIW, the logic for fixed 4-space indentation is already there (it gets turned on automatically for deep / wide printouts).  We could just fix it to always use that mode.

[2022-08-23 16:33] michaelbynum commented on #2503
Oh! That's awesome! We should definitely use that mode by default, I think.

[2022-08-25 15:09] ldeluigi commented on #2475
Today I came up with a monkeypatch idea for the problem.
What do you think about this code? I've put it at the bottom of [tempfiles.py](https://github.com/Pyomo/pyomo/blob/main/pyomo/common/tempfiles.py) locally.
I tested it on my machine (Windows, python 3.10.5) and seems to work in my use case.

[code]

If you approve, I can open a PR.

[2022-08-25 15:33] jsiirola commented on #2475
@ldeluigi: Thank you!  I think this approach has promise, and a PR would be great.

Some immediate thoughts:
- I like the idea of making the `TempfileManager` "thread-specific" (we probably want to also consider this in other contexts where we have global stacks, e.g., `PauseGC`)
- I don't think that each thread-specific `TempfileManager` needs to create their own directory.  As each `TempfileMana

[2022-08-25 16:00] ldeluigi commented on #2475
I'll work on this in the future, thanks for the feedback!

[2022-08-26 04:47] michaelbynum commented on #2491
@emma58 Are you sure you don't just need to rebuild Appsi? The example you posted works for me, and, after checking, it looks like I have already told Appsi about `AutoLinkedBinaryVar`. If you rebuild Appsi and still get this error, please let me know.

[2022-08-26 06:16] jsiirola commented on #2491
Does APPSI embed a library version identifier into the compiled library?  We do this for `libpynumero_ASL` so that we can complain when it looks like we are attempting to load an old version of the library: we can both warn the user that they should rebuild the library and potentially put into place compatibility wrappers.

[2022-08-26 14:07] michaelbynum commented on #2491
Great suggestion @jsiirola. I will add something similar to Appsi.

[2022-08-26 15:33] ldeluigi commented on #2475
Yeah, PauseGC is the source of similar errors. Are there any other examples of global stacks that need work for thread safety?

[2022-08-26 18:39] jsiirola commented on #2475
Good question.  The short answer is "yes". The longer answer is "but I don't have a definitive list."  We would have to go and look for module-scope variables and singleton-like things.  I know that there is one in the new NLwriter.  There are likely more.

[2022-08-26 23:29] jsiirola opened #2513 "`ContinuousSet.get_interval()` should always report a step None"
## Summary
While the `ContinuousSet` is implemented as a discrete set, It should not report that its interval is discrete.

### Steps to reproduce the issue

[code]

### Information on your system

Pyomo version: all
Python version:
Operating system:
How Pyomo was installed (PyPI, conda, source):
Solver (if applicable):

### Additional information

[2022-08-27 01:06] makansij commented on #2501
@shermanjasonaf , below is an example of a problem for which the deterministic master problem can be solved at nominal values, but the problem with uncertain parameters cannot.  I can think of at least one robust feasible solution (the trivial one where `Z` is all 0's).

You'll notice, if you flip the `uncertain_flag`, then the problem is solved.

[code]

[code]

[code]

[code]
[code]

[code]

[co

[2022-08-27 10:00] ldeluigi commented on #2475
Unfortunately I have to leave those one out because of time availability. I'm focusing on PauseGC and TempFileManager.

I'll open a PR shortly so that you can review my code and help improve it. I'll link it to this issue.

[2022-08-29 13:54] jsiirola commented on #2513
I think it should probably still report `None`.  That turns out to be a no-op for collocation as the discretization points do not use a fixed step.  However, that would be a change for the finite difference discretization: right now, it results in the `ContinuousSet` reporting the discretization step as the ContinuousSet's step.

[2022-08-29 23:34] makansij commented on #2428
Does that mean I shouldn't use the IDEAS toolkit that you referred to for installing COUENNE on a Mac?

Thanks

[2022-08-30 19:24] blnicho commented on #2483
We should add a disclaimer or warning to the solver output until we have a chance to figure out the issue.

[2022-08-31 09:45] shermanjasonaf commented on #2501
@makansij Can you share the traceback you encounter when you attempt to solve with `uncertain_flag=True` (i.e. attempting to solve with PyROS)?

[2022-08-31 15:26] bengadi commented on #713
any response to this issue?

[2022-08-31 17:49] blnicho commented on #713
@bengadi this is a 4 year old closed issue. Please open a new issue with the information in the issue template if you would like to report a bug.

[2022-09-01 23:02] makansij commented on #2501
Before we continue, I want to question what I said early about “the deterministic master problem can be solved at nominal values”.  The output from the _deterministic_ master problem, as you'll discover is the following:

`{'Problem': [{'Lower bound': -inf, 'Upper bound': -1.6950002669605402, 'Number of objectives': 1, 'Number of constraints': 0, 'Number of variables': 0, 'Sense': 1}], 'Solver': [

[2022-09-02 01:54] shermanjasonaf commented on #2501
Your deterministic problem is an LP with a minimization objective. An LP solver such as `glpk` can certify that the optimal solution is, in fact, globally optimal; correspondingly, the `'Lower bound'` and `'Upper bound'` fields are set to the value of your objective function expression (`-1.695...`). The local NLP solver `'appsi_ipopt'` provides no global optimality guarantees, (though theoretical

[2022-09-02 02:06] makansij commented on #2501
Sure.  Here's the tail end of the output from the solver iterations, and the traceback:
[code]

[2022-09-02 02:09] makansij commented on #2501
Re: `glpk`, thanks for your response. Got it.

  Are you able to see that the value (the trivial one where Z is all 0's) for `m.Z` is robustly feasible?

[2022-09-02 05:33] shermanjasonaf commented on #2501
I've run your script independently on my machine; PyROS converges to a robust feasible solution (in which `m.Z` is effectively all zeros) in five iterations. What versions of Pyomo and IPOPT are you using?

[2022-09-02 13:40] makansij commented on #2501
Interesting!  Versions:

Ipopt 3.14.9, running with linear solver MUMPS 5.5.0.
pyomo: 6.4.1

When `tee=False`, it fails at iteration 1.  This is the output:
[code]

[2022-09-02 21:11] maajdl opened #2522 "Kernel: a==x triggers exception when type(a) is numpy.float64"
## Description

This code snippet generates an error
[code]
### Error Message

[code]

### Additional information

These other snippets don't generat errors:

[code]
[code]

[2022-09-03 00:25] shermanjasonaf commented on #2501
IPOPT 3.13.2, with linear solver MA27.
Pyomo 6.4.1

[2022-09-03 11:35] makansij commented on #2501
I'll try those versions - thanks!

[2022-09-04 16:49] makansij commented on #2501
@shermanjasonaf  Do you mind trying my versions to see if you get the same result?

[2022-09-04 18:03] makansij commented on #2501
I’m having some trouble getting IPOPT to read the dynamic library files from MA27 (part of HSL).  Since MA27 is the default option for HSL, I tried just downloading HSL and linking it to IPOPT.

I first decided to try getting this working for the deterministic model (`uncertain_flag=False`), so I’m not even using PyROS in the following steps.

Here’s what I did:

I followed the directions here htt

[2022-09-06 01:27] zssatgit opened #2524 "value is not imported in pyomo.core.base.external"

[2022-09-06 15:22] blnicho commented on #2522
What versions of Pyomo and Numpy are you using?

I'm unable to recreate this error using the latest version of Pyomo and Numpy 1.17.3.

[code]

[2022-09-06 16:33] maajdl commented on #2522
Thanks for you answer!
I am using  pyomo 6.0  and   numpy 1.20.2.
Based on your test, I made a few more tests that you can check below.
From these, I have the feeling this is related to my usage of pyomo.kernel objects (block and variable).
I like these objects especially because block can be sub-classed.
Thanks again
Michel

**Works:**
[code]

**Doesn't work:**
[code]

**Doesn't work:**
[code]
**

[2022-09-06 19:29] emma58 opened #2526 "GDPopt doesn't remove the dummy objective it adds when the model doesn't have any objectives"
## Summary

GDPopt adds a dummy objective (and issues a warning) if the model it's solving doesn't have an active objective. It then fails to remove it, so if you add one and then solve again, you trigger an error about there being multiple active objectives.

### Steps to reproduce the issue

[code]

### Error Message

[code]

### Information on your system

Pyomo version: main branch
Python vers

[2022-09-06 20:26] #2524 closed

[2022-09-07 14:29] eslickj opened #2528 "ExternalFunction evaluate_fgh doesn't work correctly with string arguments"
## Summary

When you have an ExternalFunction that expects string arguments, the evaluate_fgh method includes the string arguments when counting how big the gradient and hessian arrays are. This means that you get the gradient and hessian but they are larger than they should be and padded with random junk from memory at the end.

### Steps to reproduce the issue

Run the example below (requires ID

[2022-09-07 20:36] tarnold17 commented on #1627
I'll add my name here to request a fix. I also have encountered this error:

`pyomo.core.base.units_container.InconsistentUnitsError: Error in convert: units not compatible.: meter ** 3 / year not compatible with USD_2020 / year.`

[2022-09-07 20:41] dallan-keylogic commented on #1627
A workaround that works in some cases is creating a constant `Param` with the correct units and the value zero.

[2022-09-08 13:45] dallan-keylogic opened #2529 "Pyomo DAE flatten ignores whether blocks are active"
## Summary

In July, I ran into unexpected behavior when the PETSc interface in IDAES uses `pyomo.dae.flatten` to create the block with variables/equations to be solved. It appears that the flattening process ignores whether the block it's aggregating variables from is active or not, and so variables and constraints from deactivated blocks end up being used in the problem because they are not indi

[2022-09-08 17:19] Robbybp commented on #2529
@dallan-keylogic Thanks for opening this issue. This patch looks good, although I would also like an `active=True` optional argument that, by default, only descends into active blocks. I think the original reason I excluded this argument was that "active" can be ill-defined for a slice, i.e. do we check the `active` flag of all or any of the blocks/data objects included in the slice. That said, a

[2022-09-09 15:52] makansij commented on #2501
I was finally able to get MA27 to work with IPOPT version 3.14.9, and I can verify that a Robust Feasible solution was found.  It seems like the solver makes all the difference.

[2022-09-10 03:52] makansij opened #2531 "IPOPT solver does not work on PyROS Usage Example"
## Summary
I’ve been experimenting with different solvers to see which ones to use under which robust optimizations.  So, I started with the example provided under https://pyomo.readthedocs.io/en/stable/contributed_packages/pyros.html#pyros-usage-example.  However, I was unable to get the single-stage version of this problem to work with IPOPT.  The code in the example uses the `baron` solver.  Ho

[2022-09-10 04:13] makansij opened #2532 ""Solver <class 'pyomo.contrib.appsi.base.SolverFactoryClass.register.<locals>.decorator.<locals>.LegacySolver'> is not available (NeedsCompiledExtension)" when attempting to call `appsi_ipopt`"
## Summary
I cannot get `appsi_ipopt` to be recognized by pyomo, although it recognizes `ipopt`.

Here's what I did to install `appsi_ipopt`
-  I ran`python build.py` per the instructions at the bottom of [this page](https://pyomo.readthedocs.io/en/stable/library_reference/appsi/appsi.html).

Here's what I did to install `ipopt`:
- I followed the directions [here](https://coin-or.github.io/Ipopt/I

[2022-09-11 23:47] makansij commented on #2531
PyROS doesn't properly handle an invalid `ipopt.opt` file in the working directory, and instead of spitting out a relevant message, it reports `AttributeError: Invalid uncertainty set detected...`.

To reproduce, place an invalid `ipopt.op` file in your working directory, and run the example above.

[2022-09-12 07:55] xiyangcanyi opened #2533 "The SolverFactory was unable to create the solver "_cplex_shell""
The original solver was created with the following parameters:
	executable: D:\IBM ILOG CPLEX Optimization Studio\cplex\bin\x64_win64
	type: _cplex_shell
	_args: ()
	options: {'threads': 4, 'timelimit': 2000}

[2022-09-12 14:12] michaelbynum commented on #2532
The easiest way to debug this is to find the shared library that was built when running `python build.py`. By default this should go somewhere like `~/.pyomo/lib/python3.9/site-packages/appsi_cmodel.cpython-39-<system>.so`. If you can find that shared library, `cd` into that directory, and then try to `import appsi_cmodel` from a python session or script. You should get a more informative error me

[2022-09-12 14:13] jsiirola commented on #2533
Please provide a minimal (code) example that reproduces the error, along with the complete error message / stack trace you are getting.  There is not enough information here for us to be able to help you.

[2022-09-13 18:58] #2475 closed

[2022-09-13 19:22] Robbybp commented on #2529
@dallan-keylogic Can you open a PR with this patch and a test indicating the desired (currently failing) behavior.

[2022-09-13 19:25] dallan-keylogic commented on #2529
@Robbybp I can. It will take a few days to get around to because I don't have a Pyomo dev environment set up yet.

[2022-09-15 15:38] wenjingsu16 commented on #252
Hi, I see that `component.reconstruct` is removed from pyomo. But I tried `component.clear()` and then `component.construct(data=data)`. The construct does not seem to be working and the component is still the same as the component after clear. May I ask why this happens? I defined my component as mutable and gave it an initial value.

[2022-09-15 16:57] wenjingsu16 opened #2536 "Component.construct not working?"
Hi, I see that component.reconstruct is removed from pyomo. I followed the instructions to use clear and construct. I tried component.clear() and then component.construct(data=data). The construct does not seem to be working and the component is still the same as the component after clear. May I ask why this happens? I defined my component as mutable and gave it an initial value.

[code]

 The par

[2022-09-15 20:33] jsiirola commented on #2536
This is expected behavior.  `clear()` removes all modeling components from an indexed component (in this case, `_ParamData` objects from the `Param`).  You almost certainly do NOT want to do this (we should probably deprecate/remove that API like we did for `reconstruct()`).

The whole point of a mutable parameter is that you can change it's value *without* regenerating the Param (and all the cons

[2022-09-16 21:41] jsiirola commented on #2528
@eslickj: what do you think the expected behavior should be?  Should `fgh` only return the gradient / Hessian for the numeric arguments (like the ASL), or should it return the "full" gradient / hessian with 0's inserted at the correct indices.  I tend to favor the latter (especially since the pyomo side doesn't have the indirection that the ASL `ra` / `at` interface enforces).

[2022-09-17 01:32] makansij commented on #2532
Thanks @michaelbynum.  While in `~/.pyomo/lib/python3.9/site-packages` I ran a python session, and `import appsi_cmodel` works with no trouble.  I don't imagine this tells us much since it doesn't fail.  I also tried adding this to path just by doing `sys.path.append('~/.pyomo/lib/python3.9/site-packages')` but that didn't change anything.

What else can I do to trigger something more informative?

[2022-09-17 03:17] michaelbynum commented on #2532
@makansij, try removing the try-except statement in pyomo/contrib/appsi/cmodel/__init__.py in the `_importer()` function.

[2022-09-19 13:10] emma58 opened #2541 "BooleanVar() == True/False returns a bool, not an expression"
## Summary

Rather than returning a logical expression, using `==` with a `BooleanVar` always returns `False`.

### Steps to reproduce the issue

[code]

### Information on your system

Pyomo version: main
Python version: 3.8
Operating system:
How Pyomo was installed (PyPI, conda, source):
Solver (if applicable):

[2022-09-19 13:49] eslickj commented on #2528
0's is totally fine with me. It makes sense.  As long as it's documented and everything works right in Pyomo.

[2022-09-20 19:02] #2533 closed

[2022-09-21 18:11] andrewlee94 opened #2542 "Bug when using solve_strongly_connected_components"
## Summary
I have been attempting to apply the `solve_strongly_connected_components` method to the IDAES model libraries and have encountered a couple of bugs the underlying Pyomo code. The first issue that comes up appears to be a missing import in `pyomo/core/base/external.py`, however fixing this unearths a deeper issue.

### Steps to reproduce the issue

The best replication I have is to run t

[2022-09-21 19:37] andrewlee94 commented on #2542
Looking a bit deeper into the stack trace, it appears to me that the issue is arising when the Newton solver in `calculate_variable_from_constraint` attempts to get the derivative of a constraint w.r.t. to a variable in some situations.

[2022-09-23 09:03] xiyangcanyi opened #2544 "ValueError: No value for uninitialized NumericValue object a['12','55',0,0,'12','13']"
## Summary

### Steps to reproduce the issue

[code]

[code]

### Error Message

[code]

### Information on your system

Pyomo version:
Python version:
Operating system:
How Pyomo was installed (PyPI, conda, source):
Solver (if applicable):

### Additional information

[code]

[2022-09-23 09:03] xiyangcanyi commented on #2544
value(model.a[v, c, p, i, s, d] )* model.I[(f, i, c)] *model.nf[f] * chains.chains_list[chains.name_to_num(c)].tra/ graph.node_list[v_num].cap_cpu
  File "pyomo\core\expr\numvalue.pyx", line 156, in pyomo.core.expr.numvalue.value
  File "pyomo\core\expr\numvalue.pyx", line 143, in pyomo.core.expr.numvalue.value
ValueError: No value for uninitialized NumericValue object a['12','55',0,0,'12','13']

[2022-09-23 17:36] emma58 commented on #2491
@michaelbynum, whoops, yes, you are right. It's fine after rebuilding.

[2022-09-23 17:36] #2491 closed

[2022-09-24 01:32] qiniuweihe opened #2545 "Pyomo 6.4 can't use scip 8.0.1"
As title, when I use scip to solve my problem, it can't start to solve problem:
<img width="962" alt="image" src="https://user-images.githubusercontent.com/40459148/192074500-058f3fe4-5b16-4681-b870-90f3679885a0.png">

[2022-09-24 09:08] liyingbin1213 commented on #1039
you can also see more examples in this book. https://jckantor.github.io/MO-book/intro.html

[2022-09-24 15:03] ZedongPeng opened #2546 "Questions about MindtPy rewrite"
## Summary

Following GDPOpt rewrite #2406 , we are going to rewrite MindtPy in a similar way.
A main change in GDPOpt rewrite is

We encountered a problem when removing `solve_data` in MindtPy. MindtPy uses the `LazyConstraintCallback` function to implement the LP/NLP based Branch and Bound algorithm(single-tree implementation). To use the `LazyConstraintCallback` function in Cplex, we need to de

[2022-09-25 18:13] MASSKAgithub commented on #95
adding a new line fixes the script :///\\\wtf

[2022-09-25 19:17] yurivict opened #2547 "One test fails: AttributeError: type object 'Test_expr' has no attribute 'add_baseline_test'"
## Summary
[code]

### Information on your system

Pyomo version: 6.4.2
Python version: 3.9
Operating system: FreeBSD 13.1
How Pyomo was installed (PyPI, conda, source): port

[2022-09-26 11:26] jsiirola commented on #2547
This will be resolved by #2540

[2022-09-27 10:20] adowling2 commented on #2377
Can this be closed now that the PR was merged? @kanishka-ghosh

[2022-09-27 11:39] kanishka-ghosh commented on #2377
Yes

[2022-09-27 11:39] #2377 closed

[2022-09-27 12:49] fleimgruber opened #2548 "Unallowed character (@) found in CPLEX solution file path/name"
## Summary

On Linux, solving a model with CPLEX solver where the user has a name of the form `user@D01.arc.local` is not allowed.

### Steps to reproduce the issue

As outlined in Summary above

### Error Message

[code]

### Information on your system

Pyomo version: 6.4.2
Python version: 3.10.4
Operating system: x86_64 GNU/Linux
How Pyomo was installed (PyPI, conda, source): conda
Solver (if ap

[2022-09-27 18:43] mrmundt commented on #2545
What version of pyomo are you using?

[2022-09-27 20:31] wenjingsu16 commented on #2536
Thank you for the detailed explanation!

[2022-09-28 21:17] emma58 commented on #2546
@ZedongPeng, I'm not entirely sure all of the things that the `LazyOACallback_cplex` class needs to know, but there's nothing to stop you (I don't think) from storing those things on the `MindtPySolver` class and then passing that object in instead of the `solve_data` object. Alternatively, if you think the single-tree implementation of the B&B algorithm has very different requirements for what it

[2022-09-28 21:36] emma58 commented on #2333
This is resolved, not sure by what.

[2022-09-28 21:36] #2333 closed

[2022-09-29 08:55] qiniuweihe commented on #2545
<img width="349" alt="image" src="https://user-images.githubusercontent.com/40459148/192987702-4ee6fbc9-1cdd-438c-a182-660a242b7c16.png">

[2022-09-29 15:56] jsiirola commented on #2547
[I take it back... I was looking at the warnings (which have been fixed).  The error on test_examples persists and will need a separate PR.]

[2022-09-29 17:43] #2526 closed

[2022-09-29 20:28] #2528 closed

[2022-09-30 22:54] makansij opened #2555 "How to help PyROS verify nonempty Intersection Set, when nominal point is clearly in the intersection?"
I’m experimenting with intersection uncertainty sets, and I’ve run into a problem where:

- The nominal point is in the intersection set

- But PyROS implies that the intersection is empty when solving the `nlp` in line 1094 of `uncertainty_sets.py` in the pyros library.

I’ve tried using a variety of solvers, and I’ve verified that `point_in_set` returns `True` when executed on the nominal point.

[2022-10-02 22:59] makansij commented on #2532
Sorry - I must've missed this post before - trying this now,  thanks!

[2022-10-02 23:03] makansij commented on #2555
I'd be happy to provide the traceback if we think that'd be valuable, but I've already posted a lot of code.

[2022-10-03 18:32] makansij commented on #2532
I removed the `try, except` block, and unindented the `finally` block to no avail.  Still gives
[code]
The directions for installing it seem pretty straightforward, but is it possible I missed something there?  Or perhaps another issue with the interface with `ipopt` doesn't work, even though `ipopt` does?

[2022-10-05 04:00] shermanjasonaf commented on #2531
@makansij Running Python 3.9 with the `main` branch, I encounter the same exception from my end. I also note that I observe the following error messages through the logger (displayed just before the traceback is printed):
[code]
If I run with the Pyomo 6.4.1 release, then the outcome is the same, but the third logging statement does not show, as this logging statement was added after #2515.

Did y

[2022-10-06 14:21] ldeluigi opened #2558 "APPSI interface for GLPK"
## Summary
Do you plan to add an APPSI interface for GLPK?

### Rationale
I see from the documentation that the interface is already available for cbc, cplex, gurobi and ipopt. I'm a GLPK user and I'm using it to solve many similar problems with small changes, which is the use case for APPSI.

### Description

Source: https://pyomo.readthedocs.io/en/stable/library_reference/appsi/appsi.html
Probab

[2022-10-06 14:57] jsiirola commented on #2558
APPSI is a developmental solver interface where we are exploring ideas for supporting efficient model updates / resolves.  Long term we hope to support all Pyomo solvers; however, at the moment, I am not aware of any developers actively working on additional solver interfaces.  Pull requests are always welcome, and we would be happy to work with you if you want to tackle adding GLPK support.

As f

[2022-10-06 17:04] ldeluigi commented on #2558
Atm I'm too busy for such a task, but I wanted to let the community know that pyomo needs such a feature in the hope that someone picks this issue up and tries to implement one. Thanks to everyone for the good work done so far.

[2022-10-07 14:19] jsiirola commented on #2532
@makansij, do you by chance have *another* file or directory somewhere in your `sys.path` that is called `appsi_cmodel*`?  Perhaps a test file, directory, or an old build of appsi?

[2022-10-07 15:12] shermanjasonaf commented on #2501
@makansij We find this issue particularly interesting: your original script exemplifies the case in which your determinstic model (master 0) is infeasible for the parameter realizations in some subset of your uncertainty set. We are thinking about best ways for PyROS to recover from such cases. In the meantime, proceed with using a different nominal point as discussed previously.

[2022-10-07 21:03] mfripp opened #2560 "Accessing name of indexed component element is slow for later elements"
I have some troubleshooting code where I need to show the names of a bunch of constraint objects (i.e., constraint name plus index value). `constraint_element.name` is handy for this, but I have found that accessing this is very slow (up to 400 ms) when there are many elements in the indexed constraint, and the access is especially slow for later elements.

Here is some code that demonstrates this

[2022-10-10 14:18] Betristor opened #2562 "Could not write legal LP file"
## Summary
Pyomo could not solve the linear model and report bug as follows:
[code]

Main problem may be related to cpxlp.pyx file.

### Error Message

[code]

### Information on your system

Pyomo version: 6.4.2
Python version: 3.8.13
Operating system: MacOS Monterey, M1 Pro
How Pyomo was installed (PyPI, conda, source): conda
Solver (if applicable): gurobi, cbc, clp, highs, ipopt, glpk are all t

[2022-10-10 18:37] emma58 commented on #2560
@mfripp, what version of Pyomo are you using?

[2022-10-11 03:21] Betristor commented on #2562
Sure, thanks for your suggestions.
[code]

[2022-10-11 06:10] jsiirola commented on #2562
Your objective is indeed not a linear or quadratic expression: it is an equality expression (which evaluates to a Boolean and not a floating point number).  Switching the objective to
[code]
will resolve the error.

The problem here is not with the LP writer, but rather with the error checking in the Objective constructor (it should complain about an invalid non-numeric expression).

[2022-10-11 06:15] Betristor commented on #2562
＼（＾ ＾）／,much thanks, it solved my problem perfectly!!!

[2022-10-11 06:15] #2562 closed

[2022-10-11 18:59] #2441 closed

[2022-10-12 08:50] fleimgruber opened #2563 "SolverStatus.error exception: Can't access solver results"
## Summary

`SolverStatus.error` leads to exception instead of showing up in `results.solver.status`.

### Steps to reproduce the issue

Solve a model leading e.g. to the CPLEX error [1256](https://www.ibm.com/docs/en/cofz/12.8.0?topic=api-cpxerr-singular) during `opt.solve()` .

[code]

### Error Message

[code]

### Information on your system

Pyomo version: 6.4.2
Python version: 3.10
Operating

[2022-10-13 13:34] fleimgruber opened #2564 "CPLEX Solver result termination message type UndefinedData"
## Summary

CPLEX `results.solver.termination_message` is `UndefinedData` and thus cannot e.g. be JSON serialized.

### Steps to reproduce the issue

Solve a model leading e.g. to the CPLEX error [1217 No solution exists](https://www.ibm.com/docs/en/cofz/12.8.0?topic=api-cpxerr-no-soln) and access the solver termination message

[code]

### Error Message

[code]

### Information on your system

Py

[2022-10-16 20:47] jsiirola commented on #2560
@mfripp, this was expected behavior in older versions of Pyomo: we had prioritized memory footprint over the speed at which a component data object could access its index.  While this saved a measurable amount of memory, naive access of a component data's index (which `.name` does) resulted in a linear scan of the container's data dictionary to identify the index value.  There were ways to generat

[2022-10-16 21:05] jsiirola commented on #2544
We cannot reproduce the error, as you have not provided all the libraries/data needed to run your model.

That said, one of two things is likely going on:
- You are accessing an index of `model.a` that is not included in any constraint in the model.  Variables that do not participate in constraints are not sent to the solver.  As a result, the solver will not update them with a real value.  Since

[2022-10-16 21:05] #2544 closed

[2022-10-17 16:04] #378 closed

[2022-10-21 14:34] staadecker commented on #1160
Fyi I know that for the large models I'm working with the direct gurobi solver interfaces is slower than the IO gurobi solver interface

[2022-10-21 14:57] #2542 closed

[2022-10-21 18:00] shermanjasonaf opened #2571 "GAMS Solver Results Parser Exception for Objective Values Over `1E4`"
## Summary
The `solve` method of the Pyomo GAMS shell solver interface may encounter an `IndexError` when parsing the `GAMS_OBJECTIVE` line of the `results.dat` file output by GAMS to obtain a final model solution. This occurs in the event that the final objective value is no less than `1E4`. Whether this exception is encountered is also contingent on the version of the GAMS executable.

### Steps

[2022-10-22 01:30] shermanjasonaf opened #2572 "GAMS Shell Solver `logfile` Option Behavior Differs from that of Other Solvers"
## Summary
The `solve` method for a typical Pyomo solver interface provides an optional argument `logfile`, meant to be a desired path to which to write the solver log. A handful of interfaces (such as those of BARON and IPOPT) write the logfile to the specified path. However, the GAMS shell solver interface writes this logfile to the temporary working directory used by the solver. The temporary d

[2022-10-24 03:19] caelorza opened #2573 "Interphase of Pyomo with GAMS global solvers cannot read solutions"
I tried using GAMS solver, BARON, through Pyomo. I tried using a simple model just to make sure it was working as expected. However, when I run the following code,

[code]

I get this error:

[code]

GAMS still says that it reached normal completion and the solver says an optimal solution was found, but, for some reason the results cannot be loaded back.

[2022-10-24 03:28] jsiirola commented on #2573
I believe this is a duplicate of #2571, and is a result of recent versions of GAMS changing their output format.

[2022-10-24 20:36] emma58 opened #2574 "Appsi fbbt KeyError when Var bounded by Param"
## Summary

There's a KeyError when using appsi fbbt on a model where there are Params in the Var bounds

### Steps to reproduce the issue

[code]

### Error Message

[code]

Note that replacing `m.p` with `value(m.p)` works as expected.

### Information on your system

Pyomo version: main
Python version: 3.8
Operating system: linux
How Pyomo was installed (PyPI, conda, source): source
Solver (if

[2022-10-25 11:26] limkhaixi opened #2577 "Piecewise runtime extremely inefficient"
## Summary

I am running a pyomo model that requires converting a variable matrix containing NonNegativeIntergers to Binary values. I have opted to use Pyomo's Piecewise function in order to do so, however the runtime is extremely long.

My goal is to match RL to Coachee, while optimising to minimise RL to Coach interactions.

I have created 3 decision variables here, whereby:
1. model.coachee_rl:

[2022-10-25 17:22] #2094 closed

[2022-10-25 18:12] staadecker opened #2581 "cpxlp writer: don't sort terms when file_determinism=0"
## Summary

Currently, the `cpxlp` problem writer sorts the terms of expressions. I suggest disabling this when the user specifies `file_determinism=0`

### Rationale

Sorting is slow! With a medium size model, 10% of the time to write the .lp file is spent doing the sort in question.

![image](https://user-images.githubusercontent.com/13053829/197849430-441fbe13-5f0b-4379-96fc-6cee9307f4d0.png)

[2022-10-25 19:31] emma58 commented on #2560
@mfripp, we can't reproduce this on the current version of Pyomo.

[2022-10-25 19:31] #2560 closed

[2022-10-25 19:31] #2563 closed

[2022-10-25 19:52] staadecker opened #2584 "cpxlp writer: enhance performance by not parsing quadratic terms if not supported"
## Summary

Specify that `generate_standard_repn()` should not parse quadratic terms if quadratic support is not enabled.

### Rationale

This will avoid lots of potentially time consuming logic in `generate_standard_repn()`. `generate_standard_repn()` is what takes the most time when creating an `.lp` file (responsible for ~30% of time when using a medium size model with optimized constraint defi

[2022-10-26 04:53] jsiirola commented on #2574
Note: as part of resolving this issue, we should revisit the use of APPSI FBBT in GDPopt (as disabled in #2575)

[2022-10-26 14:56] #2571 closed

[2022-10-26 14:56] #2573 closed

[2022-10-26 17:44] #2572 closed

[2022-10-26 20:49] limkhaixi commented on #2577
I managed to solve this using a big M constraint. Appreciate all your help though, thanks for introducing sparse index sets to me, I think I will still need to use that somehow.

Feel free to mark this issue as closed!

[2022-10-26 20:50] #2577 closed

[2022-10-27 12:37] guanghuidatafuelx opened #2586 "Pyomo: a bug in how MindtPy is setting the termination_condition in the results object"
I ran a simple problem: Objective is Max exp(x[0]+x[1]) Constraints are x[0]+x[1]>=5, 0<=x[0]<=2, 0 <=x[1]<=2. x[0] and x[1] are integers. It is supposed to be infeasible because x[0]+x[1] <=4. But the solver.status =ok and solver.termination_condition = feasible. variables x[0], x[1] and objective contain None.

Below is the Python test code

import pandas as pd
import numpy as np

import pyomo.e

[2022-10-27 17:52] DLWoodruff commented on #2327
It only takes one extra line to print the name before the pprint.

[2022-10-27 17:52] #2327 closed

[2022-10-29 15:42] ZedongPeng commented on #2586
Hi @guanghuidatafuelx , thank you for reporting this bug in MindtPy.
MindtPy previously determines the `results.solver.termination_condition` based on the MIP iteration counter. It is not correct.
Now we use the `primal bound` to determine the `termination condition` of MindtPy.
This bug will be fixed after #2587 is merged.

[2022-10-31 14:04] #2584 closed

[2022-10-31 14:25] #2581 closed

[2022-10-31 14:54] bdrum opened #2589 "async api for SolverFactory methods"
## Summary

Hi! First of all, thanks to all contributors for the framework. It is absolutely brilliant!

My suggestion touches concurrent programming and particularly asynchronous programming.

In my case I have plenty small independent models to solve. Now I use python multiprocessing api, but for me it looks like more native if pyomo will support async api for solve method and others in order to

[2022-10-31 16:18] guanghuidatafuelx commented on #2586
Hi Zedong:

This is to follow up on the Pyomo MindtPy solver bug I reported https://github.com/Pyomo/pyomo/issues/2586.
The status of your bug fix shows that the merge was blocked. Is the bitbucket ready for use?

Guanghui

From: Zedong ***@***.***>
Date: Saturday, October 29, 2022 at 10:43 AM
To: Pyomo/pyomo ***@***.***>
Cc: Guanghui Liu ***@***.***>, Mention ***@***.***>
Subject: Re: [Pyomo/pyom

[2022-11-01 01:27] ZedongPeng commented on #2586
I just resolved the failing tests. Let's wait for another day.

[2022-11-01 19:16] blnicho opened #2595 "Add Python 3.11 Support"
Test Pyomo against Python 3.11.

[2022-11-02 17:46] #2417 closed

[2022-11-02 22:14] #2548 closed

[2022-11-03 22:12] blnicho commented on #2545
@qiniuweihe is this still an issue for you? If so, please post the solver output by adding the option `tee=True` to your call to `solve`.

[2022-11-03 22:15] blnicho commented on #2532
@makansij is this still an issue for you or can this be closed?

[2022-11-03 22:22] blnicho commented on #2218
@SimonRubenDrauz I'm cleaning up old issues and noticed that you never got a reply. Is this still an issue for you?

[2022-11-03 22:26] blnicho commented on #2137
@AlexanderMeisinger I'm cleaning up old issues, can this be closed?

[2022-11-03 22:28] #2127 closed

[2022-11-03 22:30] #2463 closed

[2022-11-03 22:34] blnicho commented on #2113
@wangyexiang there is a new package out called OMLT for representing machine learning models within a Pyomo model. You can find it here: https://github.com/cog-imperial/OMLT

[2022-11-03 22:34] #2113 closed

[2022-11-03 22:39] blnicho commented on #2057
@staadecker I'm cleaning up old issues. Can this be closed?

[2022-11-03 22:40] #2040 closed

[2022-11-03 22:48] blnicho commented on #1952
@lluismiguell I'm cleaning up old issues and noticed that you never got a response. Is this still an issue for you?

[2022-11-04 03:31] staadecker commented on #2057
I mean the issue is still valid afaik, but if the decision is Pyomo doesn't have the interest/time to implement a fix then it would make sense to close it. I know this is not something I'm working on atm.

[2022-11-04 06:16] jsiirola commented on #2057
I think we should leave this open: at the very least, we need to better document the AML class hierarchy design, as well as tools like the `declare_custom_block` decorator (we even have core developers occasionally try inheriting from core classes in ways other than we originally intended).  Longer term, generalizing the approach for managing Scalar / Indexed components (possibly avoiding the curr

[2022-11-04 15:53] #2595 closed

[2022-11-05 18:03] GianmarcoAndreana opened #2598 "Import pyomo.environ fails"
Python 3.11
OS: Windows
Pyomo: 6.4.2

How to replicate issue:
`import pyomo.environ as pyo`

Output of error message below
________________________________________________________________________
TypeError                                 Traceback (most recent call last)
Cell In [19], line 1
----> 1 import pyomo.environ as pyo
      2 import numpy as np
      3 import pandas as pd

File c:\Users\A

[2022-11-05 21:31] jsiirola commented on #2598
This was resolved in main by #2596 and will be part of the next release (currently scheduled for Nov 21.

[2022-11-05 21:31] #2598 closed

[2022-11-07 08:23] trigaut opened #2600 "Unable to import pyomo.environ on python 3.11"
## Summary

With pyomo 6.4.2 on python 3.11 importing pyomo.environ raises an error.

### Steps to reproduce the issue

[code]

### Error Message

[code]

### Information on your system

Pyomo version: 6.4.2
Python version: 3.11
Operating system: Windows 10
How Pyomo was installed: Pypi

[2022-11-07 09:29] SimonRubenDrauz commented on #2218
Hi @blnicho, yes, the error still occurs, even though I updated all packages.

[2022-11-07 15:25] blnicho commented on #2600
This was resolved in main by https://github.com/Pyomo/pyomo/pull/2596 and will be part of the next release (currently scheduled for Nov 21).

[2022-11-07 15:25] #2600 closed

[2022-11-10 14:11] whart222 commented on #2545
I've confirmed that the Pyomo tests with SCIP all pass on the Pyomo 6.4.3 development branch.  I don't know that there were any fixes to that branch, though.  Hence, we'll need an example of the test failure to replicate this issue.

[2022-11-10 14:13] whart222 commented on #849
@ZedongPeng We are not actively working on a SCIP persistent interface, but we have plans to work on this over the winter.

[2022-11-10 19:01] alejandro-yousef opened #2604 "Unable to run precompiled `Highs` executable with Pyomo 6.4.3.dev0"
## Summary
I know it may be too soon and I should wait for the official release but maybe it is useful to report it...

I tried to run Highs with Pyomo 6.4.3.dev0 (from source) having previously installed the precompiled executable from https://github.com/JuliaBinaryWrappers/HiGHS_jll.jl/releases without success

Anyway thank you for supporting Highs, I'm looking forward for the next release :)

#

[2022-11-10 19:09] michaelbynum commented on #2604
try `pip install highspy` (https://pypi.org/project/highspy/).

[2022-11-10 19:31] alejandro-yousef commented on #2604
[code]

There is still no wheel for Windows

[2022-11-12 02:36] #2586 closed

[2022-11-13 14:31] qiniuweihe commented on #2545
It doesn't display the log:
<img width="439" alt="image" src="https://user-images.githubusercontent.com/40459148/201527082-0ece8d0d-477f-49af-a02a-3cca521e0052.png">

[2022-11-13 14:34] qiniuweihe commented on #2545
<img width="974" alt="image" src="https://user-images.githubusercontent.com/40459148/201527265-44f3b8bf-8dd5-43a9-b938-fdf0a9d6a1b8.png">

[2022-11-14 07:02] l-kotzur commented on #752
Would it help to combine the expression template system with [latexify](https://github.com/google/latexify_py/blob/main/docs/getting_started.md)?

[2022-11-16 19:45] ckaldemeyer opened #2609 "Broken link on pyomo website"
Hi there,

our project "Open Energy Modelling Framework (oemof)" is linked on your website but the URL has changed:  http://www.pyomo.org/impact

Could you change the URL to www.oemof.org?

Best wishes and thanks for creating pyomo,
Cord

[2022-11-17 07:03] blnicho commented on #2609
@ckaldemeyer thanks for letting us know. The link has been updated.

[2022-11-17 07:03] #2609 closed

[2022-11-17 16:23] ckaldemeyer commented on #2609
Thanks

[2022-11-17 21:16] adowling2 commented on #2315
We decided to pivot to parapint. I am closing this for now.

[2022-11-17 21:16] #2315 closed

[2022-11-17 21:26] adowling2 opened #2610 "Pyomo.DoE Development Plan"
The purpose of this meta issue is to track our development plans for Pyomo.DoE.

Immediate (November/December 2022):
- [x] Merge version 1 of Pyomo.DoE, #2294
- [x] Merge Pyomo.DoE logo, #2527

Pyomo.DoE Version 2 (start review in March 2023):
- [x] Remove extra index (using blocks)
- [x] Deprecate/remove sIpopt (pending discussion)
- [x] Update to use the TicTocTimer, see https://github.com/Pyomo

[2022-11-17 21:53] adowling2 commented on #2610
Please assign this issue to @jialuw96 and @hglynch

[2022-11-19 17:53] makansij opened #2611 "Pyomo + GLPK does not return a certificate of optimality for simple LP?"
## Summary

I’m using Pyomo + GLPK to solve an LP involving 2 variables.  There are 2 aspects of GLPK’s behavior for this simple problem which puzzle me:

It does not give a certificate of optimality.  The termination status is “other”, and it doesn’t give an upper and lower bound as it does for other linear problems, for example, any of the problems in this workbook: https://jckantor.github.io/CB

[2022-11-20 22:43] makansij commented on #2611
I've discovered that GLPK does not tell the user if the initial point is infeasible.  Using the example above:
[code]

[2022-11-20 23:34] jsiirola opened #2613 "Warmstart broken for MOSEK>=10"
## Summary

It appears that warmstart is partially broken on MOSEK 10.  The example below was pulled from `pyomo/solvers/tests/models/MIQP_simple.py`.  While it worked in MOSEK 8 / 9, it is failing in MOSEK 10.

As the assertion is on the C side, this error is untrappable and kills the entire Python interpreter.

@Utkarsh-Detha, can you provide more insight on what may be happening?

### Steps to

[2022-11-21 06:24] #2442 closed

[2022-11-21 10:38] Utkarsh-Detha commented on #2613
I am looking into this and will get back as soon as I have an answer/fix. Thank you for bringing this up.

[2022-11-22 13:58] Layebuniv opened #2621 "error in recuperated results from mindtpy"
## Summary

I have coded the pressure veessel problem using pyomo. the results obtain are not in the right order, k1, and k2 are Integer
x1: 7.0
x2: 0.4375
x3: 13.0
x4: 0.8125
k1: 42.09844611396906
k2: 176.63658709460654

the right order for the solution
k1: 7.0
x1: 0.4375
k2: 13.0
x2: 0.8125
x3: 42.09844611396906
x4: 176.63658709460654

### Steps to reproduce the issue

[code]

[code]

### Error

[2022-11-22 19:40] mrmundt commented on #2621
Thanks, @Layebuniv - can you please supply your Python/Pyomo/OS information for us?

[2022-11-22 21:04] Layebuniv commented on #2621
python 3.9/Pyomo 6.4.2/win10 (anaconda )

[2022-11-23 17:45] blnicho commented on #2621
@bernalde or @ZedongPeng could you take a look at this issue?

[2022-11-23 17:58] ZedongPeng commented on #2621
This bug has already been fixed here. #2587

[2022-11-23 18:29] Layebuniv commented on #2621
thank you

Le mer. 23 nov. 2022 à 18:58, Zedong ***@***.***> a écrit :

[2022-11-23 18:32] #2621 closed

[2022-11-23 18:36] David-Linan opened #2623 "Pyomo solution does not agree with gams solution"
## Summary

I am using GAMS solvers to solve an optimization problem involving pyomo.gdp and pyomo.dae. I have noticed several times that the solution obtained by GAMS is not the same as the one reported by pyomo in the attached file. It seems to me that there is an error when GAMS passes the results back to pyomo.

### Steps to reproduce the issue

 An example script is attached
[code]

### Error

[2022-11-23 19:45] makansij commented on #2611
It seems as if glpk also requires that there be no free variables in the optimization.  In the example above `m.L[1,0] + m.L[1,1] + m.L[1,2] + m.l[1]` is unbounded below.  Even though it doesn't play a role in the objective function, since it is unconstrained, glpk returns status `other`.

[2022-11-23 21:26] #2623 closed

[2022-11-23 21:32] David-Linan commented on #2623
It seems to me that the error was related to a variable that had very large values (m.S). I was able to solve the error by replacing the parameter "Infty" with 10, which allowed to scale variable m.S. Anyway, please take a look at this issue if you think both objectives should agree regardless of my scaling modeling error.

[2022-11-24 19:51] l-kotzur commented on #2604
The windows wheel was added two days ago: https://github.com/ERGO-Code/HiGHS/issues/925

[2022-11-24 23:30] alejandro-yousef commented on #2604
For those who want to try, pass `appsi_highs` instead of `highs` to the SolverFactory

[code]

[2022-11-25 15:50] emma58 opened #2626 "Fixed Vars unpickle as stale"
## Summary

I'm not sure if this is a bug, but it seems unexpected? Anyway, if you pickle a model that has a fixed variable (not stale), when you unpickle it, it comes back as stale.

### Steps to reproduce the issue

[code]

[code]

### Error Message

It seems like these models should be identical, even up to stale-ness, right?

### Information on your system

Pyomo version: main
Python version:

[2022-11-25 23:03] dallan-keylogic commented on #2529
Returning to this issue finally and am running into an issue when trying to implement the suggested fix. The following code (adapted from the current tests) triggers an infinite loop with the updated function.

[code]

[2022-11-28 02:51] #2604 closed

[2022-11-28 15:57] mrmundt opened #2629 "Update Release Process: RELEASE Notes Adjustment"
## Summary

Historically, the Pyomo release team has put highlights at the beginning of the RELEASE notes for every major version; however, since the major versions rarely change, the highlights become stagnant. The process should be changed to major and minor version highlights instead.

### Rationale

We want the release notes to actually be useful.

### Description

Rather than putting highligh

[2022-11-28 15:58] mrmundt opened #2630 "CHANGELOG and RELEASE Files: Convert to Markdown"
## Summary

We should change the RELEASE.txt and CHANGELOG.txt files to be true Markdown files rather than `.txt` files.

### Rationale

Markdown is the standard file type to use; we only have ours as `.txt` because of historical reasons.

[2022-11-29 07:24] #2626 closed

[2022-11-29 16:13] #2630 closed

[2022-11-29 20:37] andrewlee94 opened #2641 "Standardize behaviour for Suffixes on Blocks"
## Summary

A number of issues have raised the fact that there is no standard for dealing with `Suffixes` in hierarchical models. This issue proposes a standard for prioritizing suffixes in hierarchical models.

Related Issues:

* #672
* #898
* #1611

### Proposed Standard

Discussed at Pyomo Developers Meeting 11/29/2022.

* Default for specific suffixes should prefer highest-level defined suffix